@using System.Web.UI.WebControls

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">Shop STORE</span>
            <div class="visible-xs">
                Shop
            </div>
            <div class="visible-xs">Shop</div>
        </a>

        @*@Html.Action("Summary", "Cart")*@

        @if (Request.IsAuthenticated)
        {


<span style="color: blue">

    @Html.ActionLink(@Html.Encode(User.Identity.Name), "index", "Admin")

    @Html.ActionLink("Log Out", "LogOut", "Admin", null, new { @class = "btn btn-info" })
</span> }
            else
            {

@Html.ActionLink("Register", "Registration", "Admin", null, new { @class = "btn btn-info" })
                <span>/</span>
                                @Html.ActionLink("Log in", "LoginIn", "Admin", null, new { @class = "btn btn-info" })}

    </div>
    <div class="visible-xs">
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>
    <div class="row panel">
        <div class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()
        </div>
    </div>


</body>
</html>




